$font-family: "Open Sans", "Montserrat", -apple-system, sans-serif;

/* Light Theme */
// $color-primary: #8a8eee;
// $color-white: white;
// $color-bg: #f3f3f3;

/* Dark Theme */
$color-primary: #323232;
$color-secundary: #444343;
$color-white: white;
$color-bg: #1b1b1b;
