$font-family: "Open Sans", "Montserrat", -apple-system, sans-serif;

/* Light Theme */
// $color-primary: #8a8eee;
// $color-white: white;
// $color-bg: #f3f3f3;

/* Dark Theme */
$color-primary: #373e47;
$color-secundary: #22272e;
$color-white: white;
$color-bg: #1c2128;
$color-title: #adbac7;
$color-text: #768390;
$color-border: #444c56;
