@import "~scss";

.formItem {
  :global(.ant-form-item) {
    :global(.ant-form-item-control) {
      input,
      textarea,
      :global(.ant-input-password) {
        background-color: $color-primary;
        border: none;
        border-radius: 8px;
        padding: 7px 15px;
        color: $color-title;

        &::placeholder {
          color: #9b9b9b;
        }

        &:focus {
          border-color: $color-primary;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          transition: color, background-color;
          -webkit-transition-delay: 9999s;
        }
      }
    }
  }
}
