@import "~scss";

.wrapper {
  @extend .containerWidth;
  display: flex;
  justify-content: center;
  gap: 50px;

  .personalWrapper {
  }

  .feedWrapper {
    max-width: 750px;
  }

  .activitiesWrapper {
  }
}
